* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {

    text-align: center;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choices {
    @include flex;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    width: 165px;
    height: 165px;
    cursor: pointer;
    @include flex;
    border-radius: 50%;

}

.choice:hover {
    opacity: 0.7;
    border: 2px solid #697c94;
    // background-color: #081b31;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    @include flex;
    font-size: 2rem;
    gap: 5rem;
    margin: 3rem 0;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  
}